/*
CSS Title Here
Jordan Haines
web: www.jordanairwave.co.uk
Twitter: @jordanairwave
Facebook: www.facebook.com/jordanairwave.co.uk

Colours used

*/

/* ------------------------------------------------------------------------------------------------------
	CSS Reset - http://meyerweb.com/eric/tools/css/reset/ 
------------------------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin : 0; padding : 0; border : 0; outline : 0; font-size : 100%; vertical-align : baseline; background : transparent; }
body { line-height : 1; }
ol, ul { list-style-type : none; }
blockquote, q { quotes : none; }
blockquote:before, blockquote:after, q:before, q:after { content : ''; content : none; }
:focus { outline : 0; }
ins { text-decoration : none; }
del { text-decoration : line-through; }
table { width : 99%; margin-bottom : 1.4em; }
tr:nth-child(even) { background-color : #000; background-color : rgba(0,0,0,.6); }
th { border-bottom : 2px solid #2a2e18; font-weight : bold; text-align : left; }
td { border-bottom : 1px solid #2a2e18; }
th,td { padding : 4px 10px 4px 0; }
tr:last-child td { border-bottom-width : 0; }
tfoot { font-style : italic; }
caption { background : transparent; }


/* ------------------------------------------------------------------------------------------------------
	Fonts
------------------------------------------------------------------------------------------------------*/

@font-face {


}

/* -----------------------------------------------------------------------------------------

	Font sizes use percentages and are based on Yahoo YUI 2 font sizes - http://yui.github.io/yui2/docs/yui_2.9.0_full/fonts/
	- If you want a bigger font use the formula size x 7.7 (50px x 7.7)
----------------------------------------------------------------------------------------- */
html { -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; }
body { font: 13px "Arial", sans-serif; line-height: 13px; }
h1 { font-size: 277.2%/*36px*/; line-height: 120%; margin-bottom: 15px; }
h2 { font-size: 182% /*24px*/; line-height: 130%; margin-bottom: 15px; }
h3 { font-size: 138.55% /*18px*/; line-height: 140%; margin-bottom: 15px; }
h4 { font-size: 116% /*15px*/; line-height: 140%; margin-bottom: 15px; }
h5 { font-size: 93%/*12px*/; line-height: 140%; margin-bottom: 15px; }
p { margin-bottom: 15px; font-size: 100%; line-height: 150%; }
li { font-size: 100%; line-height: 150%; margin-bottom: 5px; }
ul, ol { margin-left: 30px; }
ul { list-style-type : disc; list-style-position : inside; margin-bottom: 15px; }
ol { list-style-type : decimal; list-style-position : inside; margin-bottom: 15px; }
abbr, acronym { border-bottom-width: 0; }
strong { font-weight: bold; }
em { font-style: italic; }

/* General link styling */
a:link,
a:active,
a:visited { text-decoration: none; color: #fff; }
a:hover,
a:focus { text-decoration: underline; color: #000; }

/* Clear fix */
.clearfix:after { content: "."; visibility: hidden; display: block; height: 0; clear: both; }

/* ------------------------------------------------------------------------------------------------------
	General Styles
------------------------------------------------------------------------------------------------------*/

article, aside, details, figure, footer, header, hgroup, nav, section {
	display: block;
}

img { max-width: 100%; }

/* -------------------------------------------------------------------------------------------------------
	Media Queries
-------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 1200px) {
		
	
}